.{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    font-family: sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding: 0 150px;
    border-bottom: 1px solid #6666667f;
    top: 0;
    left: 0;
    right: 0;
    
}

.header ul{
    display: flex;
    gap: 60px;
    list-style: none;
}
.header ul li a {
    text-decoration: none;
    color: #666;
}

.header ul li a:hover{
    color: #387ed1;
}

/* -----header end----- */

/* -----hero section start----- */

.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    height: 88vh;
    color: #424242;
}

.hero-section h1{
    font-weight:500;
}

.hero-img{
    width: 800px;
}

.cta-btn{
color: white;
text-decoration: none;
background-color: #387ed1;
padding: 8px 20px;
border-radius: 3px;
}
.cta-btn:hover{
    background-color: #222;
}

/*--------end hero section-------*/

/*----section 2 start-----*/

.section-2 {
    height: 100vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 0 50px;
}

.section2-left,
.section2-right {
    width: 450px;
    height: 90vh;
    

}

.section2-right img{
width: 550px;

}


/*-----trust with confidence start-----*/

.left-heading{
    font-size: 32px;
    padding-bottom: 10px;
    color: #424242;

}

.information-description{
padding-top: 20px;

}

.information-heading{
font-size: 20px;
color: #424242;
padding-bottom: 10px;
}
.information-description{
    font-size: 16px;
    color: #666;
}
.info-link{
    text-decoration:none;
    color: #387ed1;
}
.info-link:hover{
    color: #424242;
}
.section-right-link{
    display: flex;
    justify-content: center;
    gap: 36px;
}
.section-right-link a,
.Pricing-section-left a {
color: #387ed1;
text-decoration: none;
display: flex;
align-items: center;
gap: 20px;
}
.section-right-link a:hover,
.Pricing-section-left a:hover{
    color: #424242;
}
.press-logos-section{
    display: flex;
    justify-content: center;
    padding: 100px 0;
}
.press-logos-section a:hover{
    opacity: 1;
}
/*----pricing section-----*/
.Pricing-section{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 100px 100px;
}

.Pricing-section-left{
width: 400px;
}
.pricing-info{
    display: flex;
}
.pricing-info p{
    align-self: self-end;
    font-size: 12px;
}
.pricing-heading{
    color: #424242;
    font-size: 32px;
}
.pricing-desc{
padding: 28px 0;
color: #424242;
}
.pricing-info img{
    width: 140px;
}
/*----varsity section---*/

.varsity{
    padding: 100px 100px;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    
}
.varsity-right h1{
    color: #424242;
    padding-bottom: 40px;
}
.varsity-right-desc1
.varsity-right-desc2{
    color: #424242;
    font-size: 40px;
    padding-bottom: 40px;
}
.varsity-right-desc1 a,
.varsity-right-desc2 a{
text-decoration: none;
color: #387ed1;

}
.varsity-right-desc1 a:hover{
    color: #424242;
}

.account {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account h1{
    color: #424242;
}
.account p{
    color: #666;
    padding-bottom: 10px;
}
.account button{
    background-color: #387ed1;
    color: white;
    border-radius: 5px;
    padding: 8px 20px;
}

/*---footer start----*/

.footer{
    display: flex;
    justify-content: space-between;
    padding: 100px 250px;
}
.footer1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer1 img{
    width: 120px;
}
.footer1 div {
    display: flex;
    gap: 20px;
}
.footer1 div img{
    size: 1px;
}
.footer1 div a{
    color: #424242;
    font-size: 20px;
}

.footer-links{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-links li a{
    color: #424242;
    text-decoration: none;
}
.footer-links li a:hover{
    color: #387ed1;
}
.links-title{
    padding-bottom: 12px;
}
.footer-end p{
    padding: 0 150px;
    color: #666;
}
.footer-end p a{
    color: #387ed1;
    text-decoration: none;
}
.footer-end p a:hover{
    color: #666;
}